<h2 id="dashboardTitle">Your Dashboard</h2>
<section class="container">
    <div id="dashboardPosts">
        <h3>Current Posts:</h3>
{{#each allBlogs as |blog|}}
{{> dashboard-details}}
{{/each}}
 </div>
 </section>
 <div>
     <button id="newPostBtn" type="button"><a id="newPostLink" href="dashboard/newpost">+ New Post</a></button>
 </div>