<div class="container">
<form class="card logInCard">
  <div class="mb-3">
    <label for="username-login" id="userName-login" class="form-label">Username</label>
    <input type="input" class="form-control">
   
  </div>
  <div class="mb-3">
    <label for="password-login" id="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" >
  </div>
  
  <button type="submit" class="btn btn-primary loginBtn">Log In</button>
  <br>
   <div>
    <a href="/signup">
    <label>Sign Up Instead!</label>
  </div>
</form>
</div>
</div>

<script src="public/js/login.js"></script>