<div class="container">
<div class="card">
      <div class="card-header">
    New Blog Post
  </div>
 <form class="card-body newPostCard">
  <div class="mb-3">
    <label for="post-title" class="form-label">Title:</label>
    <input type="input" id="newPostTitle" class="form-control">
   </div>
  
  <div class="mb-3">
    <label for="content" class="form-label">Content:</label>
    <textarea type="input" id="content" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn postBtn">Post it!</button>
  <br>
 </form>
</div>
</div>