<div class="container">
<form class="card signInCard">
  <div class="mb-3">
    <label for="username-signup" class="form-label">Username</label>
    <input type="input" id="username-signup" class="form-control">
   
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label">Password</label>
    <input type="password" id="password-signup" class="form-control" >
  </div>
  
  <button type="submit" class="btn btn-primary signInBtn">Sign Up</button>
  <br>
   <div>
    <a href="/login">
    <label>Log In Instead!</label>
  </div>
</form>
</div>
</div>

<script src="/js/signup.js"></script>