body {
  background-color: #3d405b;
}

.navbar {
  background-color: #81b29a;
  height: 100px;
}

h1 {
  color: white;
}
.nav-link {
  color: white;
  font-size: 16pt;
}

.nav-link:hover {
  color: #e07a5f;
}

.card {
  margin: 15px;
}

.card-header,
#postTitle {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: black;
}

.logInCard,
.signInCard {
  border: #e07a5f solid 2px;
  background-color: #81b29a;
  color: white;
  padding: 15px;
}

.loginBtn,
.signInBtn {
  background-color: #3d405b;
  border-style: none;
}

#dashboardTitle {
  padding: 15px;
  margin-left: 20px;
  color: white;
}

#dashboardPosts {
  color: white;
}

.dashPosts {
  color: black;
}

#newPostBtn {
  border-radius: 8px;
  position: relative;
  top: 100px;
  left: 650px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20pt;
  border-color: black;
  background-color: #81b29a;
}

#newPostLink {
  color: white;
}

.postBtn,
.dashPosts:hover {
  color: #e07a5f;
}

.postBtn,
.updateBtn,
.deleteBtn,
.commentBtn {
  border-radius: 8px;
  font-size: 20pt;
  border-color: black;
  width: 25%;
  background-color: #81b29a;
  color: white;
  padding: 0px 20px;
}

.updateBtn {
  margin-right: 20px;
}
